.countryCC {
    background-image: url('../../resources/mapaCard.jpg');
    background-size: 17vw 17rem;
    /* background-color: #583716; */
    width: 17vw;
    height: 17rem;
    margin: 1px 0 2px 0;
    display: flex;
    font-size: large;
    color: wheat;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    padding-bottom: 20px;
    border-radius: 10px;
  }
  
  .infoCC {
  
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: flex-end;
    height: 50%;
  }
  
  .flag-image {
    width: 30%;
  }
  
  .content {
    margin: 1rem 0 0 0;
  }