.navBarConteiner{
    display: flex;
    width: fit-content;
    height: 100%;
    align-items: baseline;
    justify-content: space-around;
}

.navContent{
    justify-content: space-around ;
    display: inline-flex;
    width: fit-content;
    margin-left: 20vh;
    margin-right: -70%;
}


.navLink{
    color: white;
    text-decoration: none;
    font-size: 2rem ;
}


.conteinerMerch{
    color: #ffffff;
    text-align: center;
    margin-left: 3%;
    width: 25%;
}

.countries{
    color: #ffffff;
    margin-left: 50%; 
    font-size: 3.2rem;
    
}
.byYo{
    color: #ffffff;
    font-size: 1.2rem;
    margin-left: -3%;
    margin-right: -103%;
    margin-top: -2%;
}